/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* --- Below 1344px (Smaller Desktops) */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .book-table {
    max-width: 130rem;
  }

  .section-about {
    padding: 5rem 0.5rem;
  }
}

/* --- Below 1200px (Landscape Tablets) */

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .section-about {
    padding: 5rem 0.5rem;
  }

  .section-book-table {
    padding: 7rem;
  }
}

/* --- Below 944px (Tablets) */

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-wrap,
  .hero-img-wrap {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .review-wrap {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .products-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
  }

  .section-about {
    padding: 3rem 0.5rem;
  }

  .section-book-table {
    padding: 7rem;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
  }

  /* --- Mobile Navigation */

  .btn-mobile-nav {
    display: block;
  }

  .nav-wrap,
  .nav-cart-wrap {
    display: none;
  }
}

/* --- Below 704px (Smaller Tablets) */

@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .section-products {
    padding: 5rem 0;
  }

  .about-container {
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    gap: 6.4rem;
  }

  .about-img-wrap:last-child {
    grid-row: 3;
  }

  .section-feature {
    padding: 5rem 0;
  }

  .feature-block:nth-child(3) {
    display: none;
  }

  .section-book-table {
    display: flex;
    justify-content: center;
  }

  .footer {
    padding: 5rem 0 0 0;
  }
}
