.section-about {
  background-color: var(--light-beige);
  padding: 7rem;

  /* border-bottom-left-radius: 12rem; */
}

.about {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-heading {
  margin-bottom: 7rem;
}

.about-heading span {
  color: var(--orange);
}

.about-container {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.4rem;
}

.heading-tertiary {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.about-description {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--darker-gray);

  margin-bottom: 5.2rem;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 3rem;

  text-decoration: none;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: var(--white);
  background-color: var(--orange);

  margin-right: 1.6rem;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--dark-orange);
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--dark-grey);
  background-color: var(--white);
}

.about-img {
  width: 100%;
  height: 50rem;
  object-fit: cover;

  border-radius: 1rem;
}
