.section-testimonials {
  padding: 12rem;
}

.testimonials-heading {
  margin-bottom: 7rem;
}

.testimonials {
  display: grid;
  column-gap: 7rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--very-dark-gray);
}
